.SightWedgeInitial {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.SightWedgeVisualInitial {
    width: 15vw;
    height: auto;
}

.SightWedgeCodeInitial {
    margin-top: 1vw;
    width: 100%;
}

.ListeningSphereInitial {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.ListeningSphereVisualInitial {
    width: 15vw;
    height: auto;
}

.ListeningSphereCodeInitial {
    margin-top: 1vw;
    width: 100%;
}
