.SightWedgeInitial {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.Media-Next-To-Text {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    align-items: flex-start;
}

.Media-Next-To-Text img {
    width: 30vw;
    height: auto;
}

.Media-Next-To-Text video {
    width: 30vw;
    height: auto;
}

.Title-Next-To-Title {
    display: flex;
    gap: 3vw;
    width: 100%;
}

.Title-Next-To-Title p {
    width: 50%;
}

.Img-Next-To-Img {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    align-items: flex-start;
}

.Img-Next-To-Img img {
  width: 50%;
  height: auto;
  display: block;
}

.Code-Snippet {
    margin-top: 1vw;
    width: 100%;
}