.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2vw;
}

.project-tags p {
  background-color: var(--outline-color);
  padding: var(--padding-small);
  border-radius: var(--border-radius-small);
}

.project-tags .tag {
    width: fit-content;
}
