.project-tags {
    display: flex;
    gap: 0.2vw;
}

.project-tags .tag {
    background-color: var(--outline-color);
    padding: var(--padding-small);
    border-radius: var(--border-radius-small);
    white-space: nowrap; /* Prevent text from breaking */
    width: fit-content;
}
