@use '../../../styles/Variables.scss' as *;

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
}

.project-grid .project {
    position: relative;
    width: 100%;
    background-color: var(--fill-color-grid-sections);
    border-radius: var(--border-radius-standard);
    overflow: hidden; /* Otherwise Image Border Will Overflow the card radius */
    transition: all var(--transition-time) ease;
}

.project-grid .project:hover {
    cursor: pointer;
    transform: scale(var(--transform-scale));
}

.project-grid .project img {
    width: 100%;
    height: auto;
    border-radius: 0;
}

.project-grid .project .text {
    padding: 0.3vw;
}

.project-grid .project .title {
    font-weight: bold;
}

.project-grid .project .date {
    font-size: var(--p1);
}

.project-grid .project .project-tags {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1vw;
    opacity: 0;
    transition: opacity var(--transition-time) ease;
}

.project-grid .project:hover .project-tags {
    opacity: 1;
}

@media (max-width: $mobile-phone-width) {
    .project-grid{
        grid-template-columns: 1fr 1fr;
    }
}