.about {
  margin-left: var(--margin-text);
  margin-right: var(--margin-text);
  margin-bottom: 0;
}

.about-me {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.about-content {
  display: flex;
  align-items: center;
  text-align: center;
}

.about-image {
  width: auto;
  height: 26vw;
  margin-right: 1vw;

  border-style: var(--outline-style);
  border-color: var(--outline-color);
  border-radius: var(--outline-radius);
  border-width: var(--outline-width);
  box-shadow: var(--box-shadow-default);
}

.about-text {
  font-size: var(--about-text-size);
  text-align: justify;
  
  a{
    font-size: var(--standart-text-font-size);
    text-decoration: underline;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    color: var(--text-color);
    transition: color var(--time-transition) ease;
    font-weight: normal;

    &:hover{
      color: var(--hovered-color-links);
    }
  }
}
