.Amugen {
    margin-left: 10%;
    margin-right: 10%;
}

.Amugen h1,
.Amugen h2 {
  margin: 0;
}

.Amugen p {
  font-size: var(--description-text-size);
}

.Amugen .Trailer {
  margin-top: 3%;
  cursor: default;
}