@import 'fonts.css';

:root {
  --main-border-radius: 30px;
  --main-border-style: solid;
  --main-border-color: hsla(0, 23%, 64%, 1);
  --main-border-width: 0.3rem;
  --text-color:  hsl(0, 45%, 90%);
  --background-color:  hsl(312, 22%, 5%);
  --box-shadow-tiles: 0 0 15px hsla(349, 96%, 63%, 0.7), inset 0 0 10px rgba(0, 0, 0, 0.3);
  --hovered-color-links: hsla(349, 96%, 63%, 1);
  --linear-gradient-background: linear-gradient(145deg, hsl(312, 22%, 25%), hsl(312, 22%, 15%));
  --quote-size: 1.5rem;
  --quote-font-style: italic;
  --quote-alignment: center;
}

body {
  margin: 1rem 8rem;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: suse;

  & a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 3rem;
    font-weight: bold;
  }
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

hr {
  margin: 0 -6rem;
  padding: 0;
  color: var(--text-color);
}

/* == HEADER == */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  & .header--logo {
    width: 10%;
    & img {
      width: 400px;
      height: auto;
    }
  }

  & .header--navbar {
    display: flex;
    gap: 5rem;
  }
}

/* == ABOUT SECTION == */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1rem;

  & .about-top {
    text-align: center;
    line-height: .5rem;

    & h2 {
      font-weight: normal;
      text-decoration: none;
      text-transform: none;
    }
  }

  & .about-img {
    & img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      border-style: var(--main-border-style);
      border-color: var(--main-border-color);
      border-radius: var(--main-border-radius);
      border-width: var(--main-border-width);
      box-shadow: var(--box-shadow-tiles);
    }
  }

  & .about-lower {
    font-style: var(--quote-font-style);
    font-size: var(--quote-size);
    text-align: var(--quote-alignment);
  }
}

/* == PROJECTS SECTION == */

#projects {
  padding: 2rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding-top: 1rem;
}

.projectCard-container {
  width: 35%;
  background: var(--linear-gradient-background);
  box-shadow: var(--box-shadow-tiles);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  border-style: var(--main-border-style);
  border-color: var(--main-border-color);
  border-radius: var(--main-border-radius);
  border-width: var(--main-border-width);

  & .projectCard-container_image img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    border-color: var(--main-border-color);
    border-width: var(--main-border-width);
    
  }

  & .projectCard-container_title {
    padding: 0rem 1rem;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
  }
}

.projectCard-description {
  position: fixed;
  top: 0;
  right: -100%;
  width: 30%;
  height: 100vh;
  background-color: var(--background-color);
  padding: 2rem;
  box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.2);
  transition: right 0.5s ease;
  font-size: 1.2rem;
  color: var(--text-color);
  z-index: 999;
  overflow-y: auto;
}

.projectCard-container.active .projectCard-description {
  right: 0;
}

/* == SKILLS SECTION == */

.skills {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  padding: 0 1rem;

  & .skills-container {
    background: var(--linear-gradient-background);
    padding: 1rem;
    width: 100%;
    color: var(--text-color);
    
    border-style: var(--main-border-style);
    border-color: var(--main-border-color);
    border-radius: var(--main-border-radius);
    border-width: var(--main-border-width) - 0.1rem;
    box-shadow: var(--box-shadow-tiles);
  }
}

/* == CONTACT SECTION == */

.contact {
  border-style: var(--main-border-style);
  border-color: var(--main-border-color);
  border-radius: var(--main-border-radius);
  border-width: var(--main-border-width);
  box-shadow: var(--box-shadow-tiles);
  height: 40vh;
  margin-top: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & p {
    font-style: var(--quote-font-style);
    font-size: var(--quote-size);
    text-align: var(--quote-alignment);
  }

  & .contact-mail {
    color: var(--text-color);
    font-size: 4.5rem;
    padding-bottom: 2rem;

    &:hover {
      color: var(--hovered-color-links);
    }
  }

  & .contact-socials {
    display: flex;
    gap: 2rem;

    & .svg {
      width: 3rem;
      color: var(--text-color);
      
      &:hover {
        color: var(--hovered-color-links);
      }
    }
  }
}