@use './Variables.scss' as *;

@import 'fonts.css';

:root {
  /* Font-Sizing */
    --base-font-size: 1.2vw;
    --font-scale: 1.25;
    --p: var(--base-font-size);
    --p1: calc(var(--p) / var(--font-scale));
    --h5: calc(var(--p) * var(--font-scale));
    --h4: calc(var(--h5) * var(--font-scale));
    --h3: calc(var(--h4) * var(--font-scale));
    --h2: calc(var(--h3) * var(--font-scale));
    --h1: calc(var(--h2) * var(--font-scale));

    /* Title Margins */
    --bottom-margin-scale: 2;
    --margin-h1: 4vw;
    --margin-h2: 3vw;
    --margin-h3: 2vw;
    --margin-h4: 1vw;
    --margin-h5: 0.5vw;

    /* Main Outline Values */
    --outline-width: 0vw;
    --outline-style: solid;

    /* Radius */
    --base-radius-size: 0.5vw;
    --border-radius-scale: 2;
    --border-radius-standard: var(--base-radius-size);
    --border-radius-small: calc(var(--border-radius-standard) / var(--border-radius-scale));
    --border-radius-large: calc(var(--border-radius-standard) * var(--border-radius-scale));

    /* Padding */
    --base-padding-size: 0.4vw;
    --padding-scale: 2;
    --padding-standard: var(--base-padding-size);
    --padding-small: calc(var(--padding-standard) / var(--padding-scale));
    --padding-large: calc(var(--padding-standard) * var(--padding-scale));
    
    /* Default Body Padding Values */
    --margin-text: 15vw;
    --width-project-card: 80%;
    --left-header: 13vw;
    --right-header: 13vw;
    --padding-project-card-sides: 9%;
    
    /* Standard Backgound value for the page and when a card pops up */
    --body-background-color:  rgba(12, 12, 19, 1);
    
    /* START: COLOR VALUES */
    --description-overlay-color: rgba(0, 0, 0, 0.9);
    --hovered-color-links: #9694FF;
    --text-color:  rgba(184, 177, 190, 1);
    --outline-color: rgba(0, 0, 0, 1);
    --highlight-color: #FF2929;
    --fill-color-button: rgba(255, 255, 255, 0.2);

    
    --fill-color-grid-sections: rgba(255, 255, 255, 0.04);
    /* END: COLOR VALUES
    /* Clickable Buttons Values */
    --fill-color-header: rgba(0, 0, 0, 0.4);

    /* Blur Button */
    --blur-header: blur(1rem);
    --blur-buttons: blur(2rem);

    /* Transition values used for hovering*/
    --transition-time: 0.3s;
    --transform-scale: 1.1;
    /* Transition values used for opening a project card needs to match in Projects.jsx */
    --time-project-card-transition: 0.5s;

}

@media (max-width:  $mobile-phone-width) {
    :root {
        /* Margins And Padding */
        --width-project-card: 95%;
        --margin-text: 2vw;
        --left-header: 1vw;
        --right-header: 1vw;
        --padding-project-card-sides: 2%;
        /* Font */
        --base-font-size: 0.8rem;
    }
}

/* Main Body */
body {
    background-color: var(--body-background-color);
    color: var(--text-color);
    font-family: suse;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

/* Scrolling behaviour */
body.no-scroll {
    overflow: hidden;
}

#home, #projects, #about, #skills, #contact {
    scroll-margin-top: 6vw; 
}

html {
    scroll-behavior: smooth;
}


/* Text Elements */
h1 {
    margin-top: var(--margin-h1);
    margin-bottom: calc(var(--margin-h1) / var(--bottom-margin-scale));
    font-size: var(--h1);
}

h2 {
    margin-top: var(--margin-h2);
    margin-bottom: calc(var(--margin-h2) / var(--bottom-margin-scale));
    font-size: var(--h2);
}

h3 {
    margin-top: var(--margin-h3);
    margin-bottom: calc(var(--margin-h3) / var(--bottom-margin-scale));
    font-size: var(--h3);
}

h4 {
    margin-top: var(--margin-h4);
    margin-bottom: calc(var(--margin-h4) / var(--bottom-margin-scale));
    font-size: var(--h4);
}

h5 {
    margin-top: var(--margin-h5);
    margin-bottom: calc(var(--margin-h5) / var(--bottom-margin-scale));
    font-size: var(--h5);
    font-weight: normal;
}

p {
    margin: 0;
    font-size: var(--p);
}

a {
    color: var(--text-color);
    font-size: var(--p);
    font-weight: bold;
    transition: color var(--transition-time) ease;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: var(--hovered-color-links);
    cursor: pointer;
}

svg {
    color: var(--text-color);
    transition: transform var(--transition-time) ease, color var(--transition-time) ease;
}

svg:hover {
    transform: scale(var(--transform-scale));
    color: var(--hovered-color-links);
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-standard);
}

video {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-standard);
}

/* To be moved to indivudal elements */
.img-1 {
    width: 31%;
    margin-top: 3%;
    
    border-radius: var(--main-border-radius);
    border-style: var(--main-border-style);
    border-color: var(--main-border-color);
    border-width: var(--main-border-width);
    box-shadow: var(--box-shadow-default);
}

.img-2 {
    width: 31%;
    margin-left: 2.5%;
    
    border-radius: var(--main-border-radius);
    border-style: var(--main-border-style);
    border-color: var(--main-border-color);
    border-width: var(--main-border-width);
    box-shadow: var(--box-shadow-default);
}

.img-3 {
    width: 31%;
    margin-left: 2.5%;
    
    border-radius: var(--main-border-radius);
    border-style: var(--main-border-style);
    border-color: var(--main-border-color);
    border-width: var(--main-border-width);
    box-shadow: var(--box-shadow-default);
}