$breaker:(
  --background-color:  #ffffff
);

.Breaker{
  border: none;
  background-color: map-get($breaker, --background-color);
  height: 0.05vw;
  margin-top:3vw;
  margin-left: 2vw;
  margin-right: 2vw;
}