:root{
  --breaker-background-color:  var( --outline-color);
  --breaker-width: 0.15vw;
}

.Breaker{
  border: none;
  background-color: var(--breaker-background-color);
  height: var(--breaker-width);
  margin-top: 1.5vw;
}