/* == CONTACT SECTION == */

.contact {
  margin-left: var(--margin-text);
  margin-right: var(--margin-text);
  display: flex;
  flex-direction: column;
  
  & .contact-socials {
    display: flex;
    gap: 4vw;

    & .svg {
      width: 3vw;
    }
  }
}