Header {
  border-style: var(--outline-style);
  border-color: var(--outline-color);
  border-radius: var(--border-radius-standard);
  border-width: var(--outline-width);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  z-index: 1;
  top: 0;
  position: fixed;
  left: 13vw;
  right: 13vw;
  display: flex;
  justify-content: center;
  background-color: var(--card-fill-color);
  align-items: center; 
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;

  & .header--logo {
    margin-top: 5%;
    width: 10vw;
    height: auto;
    
    .cls-1{
      fill: var(--text-color);
      transition: fill var(--time-transition) ease;
    }

    &:hover{
      .cls-1{
        fill: var(--hovered-color-links);
      }
    }
  }

  & .header--navbar {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    & .centered-part{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 2vw;
      margin-left: 4vw;
      
      a {
        position: relative;
        text-decoration: none;
        transition: transform var(--time-transition) ease, color var(--time-transition) ease;
        
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0%;
          height: 0.15vw;
          background-color: var(--text-color);
          transition: width var(--time-transition) ease, background-color var(--time-transition) ease;
          transform: translateX(-50%);
          border-radius: var(--main-border-radius);
      }
      
      &:hover {
        transform: scale(var(--scale-transition));
        color: var(--hovered-color-links);
        .cls-1{
          fill: var(--hovered-color-links);
        }
      }
      
      &.active {
        .cls-1{
          fill: var(--hovered-color-links);
        }
        font-weight: bold;
        color: var(--hovered-color-links);
        
        &::after {
          width: 100%;
          background-color: var(--hovered-color-links); 
        }
        
        &:hover {
          transform: scale(var(--scale-transition));
          color: var(--hovered-color-links);
          
          &::after {
            width: 100%;
            background-color: var(--hovered-color-links);
          }
        }
      }
    }
   }
   
   & .small-contact{
    margin-left: auto;
    display: flex;
    align-items: center; 
    margin-right: 4vw;
    gap: 1vw;
    margin-top: 0.5%;

    & .svg {
      width: 2.5vw;
      height: auto;
      color: var(--text-color);
      transition: transform var(--time-transition) ease, color var(--time-transition) ease;
      
      &:hover {
        transform: scale(var(--scale-transition));
        color: var(--hovered-color-links);
      }
      }
    }
  }
}
