.home {
  margin-left: var(--margin-text);
  margin-right: var(--margin-text);
  margin-top: 5vw;
}

.home .Highlight {
  color: var(--hovered-color-links);
}

.home .Emphasis {
  font-style: italic;
  font-weight: bold;
}

.home h1 {
  margin: 0;
}

.home h2 {
  margin: 0;
}

.home h3 {
  margin: 0;
}