.home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-left: var(--margin-text);
  margin-top: 5vw;
}

.home .text-container{
  text-align: justify;
  margin-right: 4vw;
  margin-top: 2vw;
}

.home .text-container h1{
  font-size: 3vw;
  margin: 0;
}

.home .text-container h2 {
  margin: 0;
  font-size: 2.5vw;
}

.home .text-container .Highlight {
  color: var(--hovered-color-links);
}

.home .text-container p {
  font-size: 1.5vw;
}

.home .text-container .Welcome {
  font-size: 1.5vw;
  font-weight: bold;
}

.home .text-container .Emphasis{
  font-style: italic;
  font-weight: bold;
}