:root {
  --margin-project-card-sides: 9%;
  --margin-project-card-top: 3.5%;
  --margin-project-card-bottom: 3.5%;
}

.projects .card-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-background { 
  cursor: default;
  position: fixed; 
  top: 0; 
  width: 100%;
  height: 100%;
  color: var(--text-color);
  overflow-y: auto; 
  display: flex; 
  align-items: flex-start; 
  justify-content: center;
  z-index: 3;
  background-color: var(--description-overlay-color);
  transition: opacity var(--time-project-card-transition) ease;
  opacity: 0;
  
  &.active{
      opacity: 1;
      .card{
        transform: scale(1);
      }
  }

  & .projectContainer_specifics {
    position: relative;
    display: flex;
    justify-content: left;
    font-size: var(--standard-text-font-size);
    color: var(--text-color);
  }
  
  & .projectContainer_specifics ul {
    margin: 0vw;  
    list-style: none;
    padding: 0;
    text-align: center; 
    /* Something Overrides this once it is pushed (no clue what) so need !important */
    display: flex !important;
    justify-content: center;
    gap: 0.5vw;
  }

  & .projectContainer_specifics li {
    background: var(--card-fill-color);
    padding: 0.3vw;
  }

  .card{
    border-style: var(--outline-style);
    border-color: var(--outline-color);
    border-radius: var(--outline-radius);
    border-width: var(--outline-width);
    background-color: var(--background-color);
    z-index: 3;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 80vw;
    height: auto;
    font-size: 2vw;
    box-shadow: var(--box-shadow-default);
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    transition: transform var(--time-project-card-transition) ease;
    transform:scale(0);

    .cardDetails{
      margin-left: var(--margin-project-card-sides);
      margin-right: var(--margin-project-card-sides);
      margin-top: var(--margin-project-card-top);
      margin-bottom: var(--margin-project-card-bottom);
    }

    .cross-button{
      position: absolute;
      left: 67vw;
      top: 3.6vw;
      width: 8%;
      height: auto;
      stroke: var(--outline-color);
      transition: stroke var(--time-transition) ease, transform var(--time-transition) ease;
      
      &:hover{
        cursor: pointer;
        transform: scale(var(--scale-transition));
        stroke: var(--hovered-color-links);
      }
    }
  }
}