:root {
  --margin-project-card: 10%;
}

.projects .descriptionWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectCard-description { 
  cursor: default;
  position: fixed; 
  top: 0; 
  width: 100%;
  height: 100%;
  color: var(--text-color);
  overflow-y: auto; 
  display: flex; 
  align-items: flex-start; 
  justify-content: center;
  z-index: 3;
  background-color: var(--description-overlay-color);
  transition: opacity var(--time-project-card-transition) ease;
  opacity: 0;
  
  &.active{
      opacity: 1;
      .contentDetails{
        transform: scale(1);
      }
  }

  h1 {
    margin: 0;
    margin-top: 4vw;
    /* Need to specify margins because its not part of the card contents, but actually of the json */ 
    margin-left: var(--margin-project-card);
    margin-right: var(--margin-project-card);
    text-align: left;
    color: var();
  }

  h2{
    margin: 0;
    font-weight: bolder;
  }

  h3{
    margin: 0;
    font-weight: lighter;
  }

  h4{
    margin: 0;
    font-weight: normal;
  }

  & .mainproj-container_specifics {
    position: relative;
    margin: 0;
    /* Need to specify margins because its not part of the card contents, but actually of the json */ 
    margin-left: var(--margin-project-card);
    margin-right: var(--margin-project-card);
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: right;
    font-size: var(--description-text-size);
    color: var(--text-color);
  }
  
  & .mainproj-container_specifics ul {
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 0.5vw;
  }

  & .mainproj-container_specifics li {   
    border-style: var(--main-border-style);
    border-color: var(--hovered-color-links);
    border-radius: var(--main-border-radius);
    border-width: var(--main-border-width);
    background: var(--card-fill-color);
    padding: 0.3vw;
  }
  
  .contentDetails{
    border-style: var(--outline-style);
    border-color: var(--outline-color);
    border-radius: var(--outline-radius);
    border-width: var(--outline-width);
    background-color: var(--background-color);
    z-index: 3;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 80vw;
    height: auto;
    font-size: 2vw;
    box-shadow: var(--box-shadow-default);
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    transition: transform var(--time-project-card-transition) ease;
    transform:scale(0);
    padding-bottom: 4vw;

    .description{
      margin-left: var(--margin-project-card);
      margin-right: var(--margin-project-card);
    }

    .cross-button{
      position: absolute;
      left: 67vw;
      top: 3.6vw;
      width: 8%;
      height: auto;
      stroke: var(--outline-color);
      transition: stroke var(--time-transition) ease, transform var(--time-transition) ease;
      
      &:hover{
        cursor: pointer;
        transform: scale(var(--scale-transition));
        stroke: var(--hovered-color-links);
      }
    }
  }
}