.Raymarcher {
    margin-left: 10%;
    margin-right: 10%;
}
  

.Raymarcher h2 {
  margin: 0;
  font-weight: lighter;
}

.Raymarcher h1 {
  margin: 0;
  margin-top: 4vw;
  text-align: left;
  color: var(--hovered-color-links);
}

.Raymarcher p {
  font-size: var(--description-text-size);
}

.Raymarcher .Trailer{
  margin-top: 3%;
  cursor: default;
}

.Raymarcher .SphereBox{
  margin-left: 1%;
  width: 31%;
  height: auto;
  
  border-radius: var(--main-border-radius);
  border-style: var(--main-border-style);
  border-color: var(--main-border-color);
  border-width: var(--main-border-width);
  box-shadow: var(--box-shadow-default);
}

.Raymarcher .Fractals{
  align-self: center;
  margin-left: 1%;
  width: 31%;
  height: auto;
  
  border-radius: var(--main-border-radius);
  border-style: var(--main-border-style);
  border-color: var(--main-border-color);
  border-width: var(--main-border-width);
  box-shadow: var(--box-shadow-default);
}

.Raymarcher .FractalsRotated{
  align-self: center;
  margin-left: 1%;
  width: 31%;
  height: auto;
  
  border-radius: var(--main-border-radius);
  border-style: var(--main-border-style);
  border-color: var(--main-border-color);
  border-width: var(--main-border-width);
  box-shadow: var(--box-shadow-default);
}