/* == SKILLS SECTION == */
.skills-section{ 
  margin-left: var(--margin-text);
  margin-right: var(--margin-text);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1vw;
  column-gap: 1vw;
  
  & .levels{
    width: 100%; 
    margin-left: var(--margin-text);
    margin-bottom: 1%;
    font-weight: semibold;
  }

  & .skills-container {
    border-style: var(--outline-style);
    border-color: var(--outline-color);
    border-radius: var(--outline-radius);
    border-width: var(--outline-width);

    background: var(--card-fill-color);
    width: 46.5%;
    color: var(--text-color);
    box-shadow: var(--box-shadow-default);
    padding: 1%;
  }

  & li {
    display: flex;
  }
}

.skills h4{
  margin-top: 0;
}