/* == SKILLS SECTION == */

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  line-height: 2vw;
  margin-left: var(--margin-text);
  gap: 1vw;

  & .levels{
    width: 100%; 
    margin-left: var(--margin-text);
    font-size: 1.5vw;
    font-weight: semibold;
  }

  & .skills-container {
    border-style: var(--outline-style);
    border-color: var(--outline-color);
    border-radius: var(--outline-radius);
    border-width: var(--outline-width);

    background: var(--card-fill-color);
    width: 44%;
    color: var(--text-color);
    box-shadow: var(--box-shadow-default);
    padding: 1vw;
  }
  & h3 {
    margin: 0;
    font-size: 2vw;
    text-align: left;
    margin-bottom: 0.7vw;
  }

  & li {
    display: flex;
    align-items: center;
  }
  
  & .skill-name
  {
    margin-left: 1vw;
    font-size: 1.5vw;
    font-weight: semibold;
  }
}
