/* == SKILLS SECTION == */
.skills-section{ 
  margin-left: var(--margin-text);
  margin-right: var(--margin-text);
}

.skills-section .header{
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
  font-weight: semibold;
  align-items: center;
}

.skills-section .header .levels{
  margin-left: auto;
  text-align: right;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1vw;
  column-gap: 1vw;

  & li {
    display: flex;
  }
}


.skills .skills-container {
  border-radius: var(--border-radius-standard);
  background: var(--card-fill-color);
  width: 46.5%;
  color: var(--text-color);
  box-shadow: var(--box-shadow-default);
  padding: 1%;
}

.skills h4{
  margin-top: 0;
}