.snails-and-potions {
  margin-left: 10%;
  margin-right: 10%;
}

.snails-and-potions h1,
.snails-and-potions h2 {
  margin: 0;
}

.snails-and-potions p {
  font-size: var(--description-text-size);
}

.snails-and-potions .Trailer {
  margin-top: 2%;
}