.vulkan {
    margin-left: 10%;
    margin-right: 10%;
}

.vulkan h2 {
  margin: 0;
  font-weight: lighter;
}

.vulkan h1 {
  margin: 0;
  margin-top: 4vw;
  text-align: left;
  color: var(--hovered-color-links);
}

.vulkan p {
  font-size: var(--description-text-size);
}

.vulkan .Trailer {
  margin-top: 1%;
  cursor: default;
}