.vulkan {
    margin-left: 10%;
    margin-right: 10%;
}

.vulkan h1,
.vulkan h2 {
  margin: 0;
}

.vulkan p {
  font-size: var(--description-text-size);
}

.vulkan .Trailer {
  margin-top: 1%;
  cursor: default;
}