/* == CONTACT SECTION == */

.contact {
  margin-left: var(--margin-text);
  margin-right: var(--margin-text);
  display: flex;
  flex-direction: column;
  
  & .contact-socials {
    display: flex;
    gap: 4vw;
    margin-top: 1vw;

    & .svg {
      width: 3vw;
    }
  }
}

.contact h2 {
    margin-bottom: 0;
}

.contact h4 {
    color: var(--hovered-color-links);
}