Header {
  border-style: var(--outline-style);
  border-color: var(--outline-color);
  border-radius: var(--border-radius-standard);
  border-width: var(--outline-width);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  z-index: 2;
  top: 0;
  position: fixed;
  left: var(--left-header);
  right: var(--right-header);
  display: flex;
  justify-content: center;
  background-color: var(--fill-color-header);
  align-items: center; 
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  backdrop-filter: var(--blur-header);
}


.header-wrapper {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.header-wrapper .section-links{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
  margin-left: 4vw;
}

.header-wrapper .section-links h4 {
  margin: 0;
}

.header-wrapper .section-links a {
  position: relative;
  text-decoration: none;
  transition: transform var(--transition-time) ease, color var(--transition-time) ease; /* Need to overwrite both */
}

.header-wrapper .section-links a:hover{
  transform: scale(var(--transform-scale));
}

.header-wrapper .section-links a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 0.15vw;
  background-color: var(--text-color);
  transition: width var(--transition-time) ease, background-color var(--transition-time) ease;
  transform: translateX(-50%);
  border-radius: var(--main-border-radius);
}

.header-wrapper .section-links a.active {
  font-weight: bold;
  color: var(--hovered-color-links);
}

.header-wrapper .section-links a.active .svg {
  color: var(--hovered-color-links);
}

.header-wrapper .section-links a.active:hover{
  transform: scale(var(--transform-scale));
  color: var(--hovered-color-links);
}

.header-wrapper .section-links a.active::after {
  width: 100%;
  background-color: var(--hovered-color-links);
}


.header-wrapper .small-contact{
  margin-left: auto;
  display: flex;
  align-items: center; 
  margin-right: 4vw;
  gap: 1vw;
  margin-top: 0.5%;
}

.header-wrapper .small-contact .svg{
  width: 2.5vw;
  height: auto;  
}

.header--logo {
  margin-top: 5%;
  width: 10vw;
  height: auto;
}