@use '../../../styles/Variables.scss' as *;

/* START: Misc */
:root {
    --box-shadow-width-thumbnail: 0vw 0vw 10vw;
    --box-shadow-opacity-thumbnail: 0.2;
}

.featured-work h2 {
    text-align: center;
}

.featured-work .highlight {
    color: var(--hovered-color-links);
}

.featured-project h3 {
    margin: 0;
}

.featured-project h4 {
    margin: 0;
}
/* END: Misc */

/* START: FEATURED PROJECT */
.featured-project {
    display: grid;
    margin-bottom: 2vw;
    outline: var(--outline-width) var(--outline-style) var(--outline-color);
    gap: 1%;
    position: relative;

    &.odd {
        grid-template-columns: 2fr 3fr;

        .img-button-container{
            order: 2;
        }

        .text-container{
            order: 1;
        }
    }

    &.even {
        grid-template-columns: 3fr 2fr;

        .img-button-container{
            order: 1;
        }

        .text-container{
            order: 2;
        }
    }
}

.featured-project .img-button-container {
    position: relative;
    align-content: center;
    width: 100%;
    height: fit-content;
}

/* START: thumbnail */
.featured-project .thumbnail {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-large);
    transition: filter var(--transition-time) ease;
    align-content: center;
}

.featured-project .img-button-container:hover .thumbnail {
    filter: brightness(80%);
}
/* END: thumbnail */

// START: text-container
.featured-project .text-container {
    align-content: center;
}
// END: text-container

/* START: project-tags */
.featured-project .img-button-container .project-tags {
    position: absolute;
    margin: 1vw;
    flex-direction: column;
}

.featured-project.odd .img-button-container .project-tags {
    top: 0%;
    left: 0%;
}

.featured-project.even .img-button-container .project-tags {
    top: 0%;
    right: 0%;
    align-items: flex-end;
}

.featured-project .img-button-container .project-tags .tag {
    background-color: var(--fill-color-project-tags-thumbnail);
}

/* END: project-tags */

/* START: date */
.featured-project .img-button-container .date {
    position: absolute;
    background-color: var(--fill-color-project-tags-thumbnail);
    margin: 1vw;
    padding: var(--padding-small);
    border-radius: var(--border-radius-small);
}

.featured-project.odd .img-button-container .date {
    bottom: 0%;
    left: 0%;
}

.featured-project.even .img-button-container .date {
    bottom: 0%;
    right: 0%;
}
/* END: date */

// START: rewards

.featured-project .rewards-container {
    top: 0;
    right: 0;
    margin: var(--margin-standard);
}
// END: rewards


//START: Button Links
.featured-project .button-link-container svg {
    width: 5vw;
    height: auto;
}
// END: Button Links

// START: Click Me Button 
.featured-project .click-me-button {
    position: absolute;
    width: 7%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    background-color: var(--fill-color-header);
    backdrop-filter: var(--blur-buttons);

    border-radius: var(--border-radius-small);
    padding: var(--padding-small);

    z-index: 1;
}

.featured-project .img-button-container:hover {
    cursor: pointer;
}

.featured-project .img-button-container:hover .click-me-button {
    color: var(--hovered-color-links);
    transform: translateX(-50%) translateY(-50%) scale(var(--transform-scale)); /* Matrix Operations Order First Scale On Origin Then Translate */
}
// END: Click Me Button

/* END: featured-project */

/* START: Mobile Support */
@media (max-width: $mobile-phone-width) {
    .featured-project.odd, .featured-project.even {
        grid-template-columns: 1fr;
        .img-button-container{
            order: unset;
        }
        .featured-work-text{
            order: unset;
        }
    }
}