.download-resume-button {
    background-color: var(--fill-color-grid-sections);
    backdrop-filter: var(--blur-buttons);
    padding: var(--padding-small);
    border-radius: var(--border-radius-small);
    transition: transform var(--transition-time) ease, color var(--transition-time) ease;
}

.download-resume-button:hover {
    transform: scale(var(--transform-scale));
}