.featured-work .highlight {
    color: var(--hovered-color-links);
}

.featured-project {
    display: grid;
    margin-bottom: 2vw;
    outline: var(--outline-width) var(--outline-style) var(--outline-color);
    gap: 1vw;
}

.featured-project :hover {
    cursor: pointer;
}

.featured-project h3 {
    margin-bottom: 0;
}

.featured-project.even {
    grid-template-columns: 3fr 2fr;
}

.featured-project.odd {
    grid-template-columns: 2fr 3fr;
}

.featured-project-thumbnail {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-large);
}