.featured-work-text {
    align-content: center;
    padding-left: 1vw;
}

.featured-work-text h3{ 
    margin: 0
}

.featured-work-text .highlight {
    font-weight: bold;
    color: var(--hovered-color-links);
}